<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="host.css">
</head>
<body>
  <h1>homes registered</h1>
    <ul>
      <% names.forEach((username) => { %>
        <li><%= username.homename %></li>
      <% }) %>
    </ul>
</body>
</html>